.crd{
	text-decoration: none;
	color: #cfdbfa;
}
.crd1{
	background-color: #000;
}
.crd1:hover{
		box-shadow: 5px 5px 5px #cfdbfa;
		border: 1px solid #cfdbda;
	}
.im:hover{
	box-shadow: 5px 5px 5px #cfdbfa;
}