
    nav{
        width: auto;
        background-color: #0e0a7d;
    }
    nav div{
        padding: 0.25% 3%;
        font-family: verdana;
        display: flex;
        justify-content: center;
        position: inherit;
    }
    nav div a{
        text-decoration: none;
        color: white;
        font-size: 2rem;
    }
    .list span a{
        padding: 0px 5px;
        text-decoration: none;
        color: white;
        font-size: 1.3rem;
    }
    nav div a img{
        width: 40px;
        height: 40px;
    }
    .list span{
        transition: 0.5s;
        padding: 1% 2%;
        border-radius: 10px;
    }
    .list span:hover{
        padding: 1% 6%;
        background-color: #999ce8;
        font-size: 1.6rem;
    }
    select{
        border: none;
        background-color: #0e0a7d;
        color: white;
    }
    select option{
        border: none;
        background-color: #999ce8;
    }